<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search results</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<h1>Search results</h1>

<a th:href="@{/newSearch}"><button>New search</button></a>
<a th:href="@{/}"><button>Change searching parameters</button></a>

<p th:if="${paths == null || paths.size() == 0}"> No connections were found. </p>

<div th:if="${paths != null}" th:each="path : ${paths}">
    <strong th:text="${path.getReadableStartTime()}"/>, <strong th:text="${path.getDuration()}"/> min
    <div class="connectionDiv" th:each="connection, iterStat : ${path.getConnections()}">
        <p><b th:text="${connection.line().getName()}"/></p>
        <p><span th:text="${connection.getReadableStartTime()}"/> <span th:text="${connection.start()}"/> <br>
        <span th:text="${connection.getReadableEndTime()}"/> <span th:text="${connection.end()}"/></p>
    </div>
</div>

</body>
</html>
